.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  font-size: 18px;
  
}

.title {
  color: #141313;
  margin-bottom: 400px;
  font-size: 18px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.choose {
  background-color: #49e641;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;

}

.choose:hover {
  background-color: #a5efc1;
}

.selected-file {
  color: #fff;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;

}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.upload-button {
  border: 1px solid #44e662;
  background-color:#44e662;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  width: 350px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.upload-button:hover {
  background-color:rgb(41, 136, 9);
}



